.btn-outline-neko {
    color: #00fbff;
    border-color: #00fbff
}

.btn-outline-neko:hover {
    color: #fff;
    background-color: #00fbff;
    border-color: #00fbff
}

.btn-outline-neko.focus,
.btn-outline-neko:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-outline-neko.disabled,
.btn-outline-neko:disabled {
    color: #00fbff;
    background-color: transparent
}

.btn-outline-neko:not(:disabled):not(.disabled).active,
.btn-outline-neko:not(:disabled):not(.disabled):active,
.show>.btn-outline-neko.dropdown-toggle {
    color: #fff;
    background-color: #00fbff;
    border-color: #00fbff
}